.wrapper {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.error {
    color: red;
}

.todo-list {
    padding: 0 17px;
}

.todo-list-item {
    color: blue;
    cursor: pointer;
}

.todo-list-item-completed {
    color: gray;
    text-decoration: line-through;
}
